/doc/*.html
/doc/*.txt
/doc/*.css
/doc/*.js

/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.tex
/doc/*.toc

/doc/_*.xml
/doc/bib.xml.bib
/doc/title.xml
/doc/ibnp.xml

/tst/2*.g
/tst/4*.g
/tst/5*.g
/tst/gbnp.g
/tst/involutive*.g
/tst/monom.g
/tst/poly.g
/tst/reduce.g
/tst/strong.g

/gh-pages/
